<header class="top-bar">

    <div class="home-icon" (click)="irAPaginaPrincipal()">
      <svg xmlns="http://www.w3.org/2000/svg"
        viewBox="0 0 24 24"
        fill="none"
        stroke="currentColor"
        stroke-width="2"
        stroke-linecap="round"
        stroke-linejoin="round"
        width="24"
        height="24">
        <path d="M3 9.5L12 3l9 6.5V21a1 1 0 0 1-1 1h-5v-6H9v6H4a1 1 0 0 1-1-1V9.5z"/>
      </svg>

    </div>
    <nav class="categories">
    <div class="user-icon" (click)="irAPaginaUsuario()">

    <svg xmlns="http://www.w3.org/2000/svg" 
        viewBox="0 0 24 24" 
        fill="none" 
        stroke="currentColor" 
        stroke-width="2" 
        stroke-linecap="round" 
        stroke-linejoin="round">
      <path d="M20 21v-2a4 4 0 0 0-3-3.87"/>
      <path d="M4 21v-2a4 4 0 0 1 3-3.87"/>
      <path d="M16 7a4 4 0 1 1-8 0 4 4 0 0 1 8 0Z"/>
    </svg>
    </div>
  </nav>
  </header>

<div class="perfil-usuario">



  <header>
    <h1>{{nombre}}</h1>
    <p class="subtitulo">Edad: {{edad}} años</p>
    <p class="descripcion">{{descripcion}}</p>
  </header>

  <section class="datos-fisicos">
    <div><strong>Peso:</strong> {{peso}} kg</div>
    <div><strong>Altura:</strong> {{altura}} cm</div>
    <div><strong>Requerimiento calórico:</strong> {{reqCalorico}} kcal</div>
    <div><strong>Calorías restantes:</strong> {{caloriasRestantes}} kcal</div>
  </section>

  <section class="consumos">
    <h2>Consumos del día...</h2>
    <ul>
      <li *ngFor="let item of consumos" class="consumo-item">
        <h3>{{item.nombre}}</h3>
        <p><strong>Momento del día:</strong> {{item.momentoDelDia}}</p>
        <p><strong>Calorías:</strong> {{item.calorias}} kcal</p>
        <p>{{item.cantidad}}</p>
        <button (click)="borrarConsumo(item.id)"><</button>
        <button (click)="agregarConsumo(item.id)">></button>
      </li>
    </ul>
  </section>
  <section class="consumos">
    <h2>Libros</h2>
    <ul>
    <li *ngFor="let item of libros" >
      <div (click)="verLibro(item.id)"> 
      <h3>{{item.nombre}}</h3>
      <p>{{item.descripcion}}</p>
      </div>
      <button (click)="eliminarLibro(item.id)">Borrar</button>
    </li>
    </ul>
    <button (click)="crearLibro()">Crear Libro</button>
    <button (click)="crearReceta()">Crear Receta</button>
    <button (click)="cerrarSesion()">Cerrar Sesión</button>
  </section>


</div>
