body {
  font-family: 'Segoe UI', sans-serif;
  background-color: #EAE9E7;
  color: #000000;
  margin: 0;
  padding: 20px;
}

.perfil-usuario {
  max-width: 600px;
  margin: auto;
  background-color: #fffaf0;
  padding: 20px;
  border-radius: 12px;
  box-shadow: 0 4px 8px rgba(0,0,0,0.1);
}

header h1 {
  align-items: center;
  color: #b9920f;
  margin-bottom: 5px;
}

.subtitulo {
  font-size: 1rem;
  color: #000000;
}

.descripcion {
  font-style: italic;
  margin-bottom: 20px;
}

.datos-fisicos div {
  margin: 8px 0;
  background-color: #f6f6c5;
  padding: 8px;
  border-radius: 6px;
  color: #000000;
}

.consumos h2 {
  margin-top: 30px;
  color: #000000;
}

.consumo-item {
  background-color: #fff7d0;
  border-left: 6px solid #cc9c0b;
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 8px;
}

.top-bar {
  background-color: #fff;
  padding: 0.8em 1em;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 1em;
  position: relative; 
  margin-bottom: 3em;
}

.top-bar::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%); 
  width: 96%;
  height: 3px; 

  background-color: #000000; 
  border-radius: 2px;
}


.user-icon {
  width: 45px;
  height: 45px;
  border-radius: 50%;
  background-color: #f5f5f5; 
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: transform 0.2s ease, box-shadow 0.2s ease;
  border: 2px solid #ddd;
}

.user-icon svg {
  width: 22px;
  height: 22px;
  stroke: #555;
  transition: stroke 0.2s ease, transform 0.2s ease;
}

.user-icon:hover {
  transform: scale(1.1);
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.2);
}

.user-icon:hover svg {
  stroke: #000;
}

.home-icon {
  width: 45px;
  height: 45px;
  border-radius: 50%;
  background-color: #f5f5f5; 
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: transform 0.2s ease, box-shadow 0.2s ease;
  border: 2px solid #ddd;
}

.home-icon svg {
  width: 22px;
  height: 22px;
  stroke: #555;
  transition: stroke 0.2s ease, transform 0.2s ease;
}

.home-icon:hover {
  transform: scale(1.1);
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.2);
}

.home-icon:hover svg {
  stroke: #000;
}

