/* GENERAL */
body {
  margin: 0;
  padding: 0;
  background-color: #fdfbf5;
  font-family: Arial, sans-serif;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

/* MAIN */
main {
  width: 90%;
  max-width: 480px;
  margin: 7em auto 0 auto;
  background-color: #ffffff;
  padding: 2.5em 2em;
  border-radius: 16px;
  box-shadow: 0 0 10px rgba(0,0,0,0.05);
  text-align: center;
}

/* TÍTULO */
main h1 {
  margin-top: 0;
  font-size: 1.9em;
  font-weight: bold;
  color: #333;
}

/* FORM */
form {
  display: flex;
  flex-direction: column;
  margin-top: 1.5em;
}

label {
  text-align: left;
  margin-bottom: 0.5em;
  font-size: 1.1em;
  color: #444;
}

input {
  padding: 0.8em;
  border: 2px solid #000000;
  border-radius: 12px;
  font-size: 1em;
  outline: none;
  background: #fff;
  transition: 0.2s;
}

input:focus {
  border-color: #ddc700;
}

/* BOTÓN */
button {
  margin-top: 1.8em;
  background-color: #ddc700;
  border: none;
  padding: 0.9em 1.4em;
  font-size: 1.1em;
  border-radius: 12px;
  cursor: pointer;
  font-weight: bold;
  width: 100%;
  transition: 0.2s ease-in-out;
}

button:hover {
  color:#ffffff;
  background-color: #c4b000;
}

/* COPYRIGHT */
.copyright {
  margin-top: auto;
  padding: 2em 0 1em 0;
  text-align: center;
  color: #777;
  font-size: 0.9em;
}

/* MOBILE */
@media (max-width: 600px) {
  main {
    margin-top: 5.5em;
    padding: 2em 1.4em;
  }

  main h1 {
    font-size: 1.6em;
  }
}
