
<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Página Principal</title>
  <link rel="stylesheet" href="pagina-principal.css" />
</head>
<body>

  <header class="top-bar">

    <div class="home-icon" (click)="irAPaginaPrincipal()">
      <svg xmlns="http://www.w3.org/2000/svg"
        viewBox="0 0 24 24"
        fill="none"
        stroke="currentColor"
        stroke-width="2"
        stroke-linecap="round"
        stroke-linejoin="round"
        width="24"
        height="24">
        <path d="M3 9.5L12 3l9 6.5V21a1 1 0 0 1-1 1h-5v-6H9v6H4a1 1 0 0 1-1-1V9.5z"/>
      </svg>

    </div>
    <div (click)="irAPaginaPrincipal()">
      <img id= "logo-container"src="logoCookpi.png"  alt="Logo">
    </div>
    

   
  
    <div class="user-icon" (click)="irAPaginaUsuario()">

    <svg xmlns="http://www.w3.org/2000/svg" 
        viewBox="0 0 24 24" 
        fill="none" 
        stroke="currentColor" 
        stroke-width="2" 
        stroke-linecap="round" 
        stroke-linejoin="round">
      <path d="M20 21v-2a4 4 0 0 0-3-3.87"/>
      <path d="M4 21v-2a4 4 0 0 1 3-3.87"/>
      <path d="M16 7a4 4 0 1 1-8 0 4 4 0 0 1 8 0Z"/>
    </svg>
    </div>
  </header>

  <nav class="categories">
        <input type="search" #busquedaInput placeholder="Buscar receta..." (keydown.enter)="buscar(busquedaInput.value)">


    <button 
  (click)="cambiarFiltro('Vegetariana')" 
  [class.active]="filtroActivo === 'Vegetariana'" 
  class="category">
  Vegetariana
</button>

<button 
  (click)="cambiarFiltro('Keto')" 
  [class.active]="filtroActivo === 'Keto'" 
  class="category">
  Keto
</button>

<button 
  (click)="cambiarFiltro('No-dieta')" 
  [class.active]="filtroActivo === 'No-dieta'" 
  class="category">
  No dieta
</button>

<button 
  (click)="cambiarFiltro('No-Carbs')" 
  [class.active]="filtroActivo === 'No-Carbs'" 
  class="category">
  No carbs
</button>

<button 
  (click)="cambiarFiltro('High-Prote')" 
  [class.active]="filtroActivo === 'High-Prote'" 
  class="category">
  High protein
</button>

<button 
  (click)="cambiarFiltro('')" 
  [class.active]="filtroActivo === ''" 
  class="category">
  X
</button>

  </nav>
<section class="recomendaciones">
  <h3>Recomendaciones para vos...</h3>
  <div class="cards">

    <div class="card" *ngFor="let item of recetas">

      <div class="card-img"></div>

      <h4>{{ item.nombre }}</h4>
      <p>Calorías: {{ item.calorias }}</p>
      <p>Proteínas: {{ item.proteinas }}</p>
      <p>Grasas: {{ item.grasas }}</p>
      <p>Carbohidratos: {{ item.carbohidratos }}</p>
      <p id="dieta">{{item.dieta}}</p>
      <button (click) = "verReceta(item.id)">Ver</button>
  </div>
</div>
  <div class="contenedorBotones">
    <button (click) = "restarPagina()"><</button>
    <button (click) = "sumarPagina()">></button>
  </div>
</section>
  
<section class="featured" *ngIf="recetaDelDia">
  <div class="featured-image"> <img src="cooking.png"> </div>
  <div class="featured-text">
    <h2>Receta del día</h2>
    <h3>{{ recetaDelDia.nombre }}</h3>
    <p class="tiempo"> Tiempo prep: {{ recetaDelDia.tiempo || 'tiempo estimado' }}</p>
    <p class="descripcion">
      Calorías: {{ recetaDelDia.calorias }}<br>
      Proteínas: {{ recetaDelDia.proteinas }}<br>
      Grasas: {{ recetaDelDia.grasas }}<br>
      Carbohidratos: {{ recetaDelDia.carbohidratos }}
    </p>
  </div>
</section>


<section class="recomendaciones">
  <h3>Según tu consumo...</h3>



  <div class="cards">

    <div class="card"  *ngFor="let receta of recomendacionesKcal" (click) = "verReceta(receta.id)">

      <div class="card-img"></div>
      <h4 (click) = "verReceta(receta.id)" >{{ receta.nombre }}</h4>
      <p>Calorías: {{ receta.calorias }}</p>
      <p>Proteínas: {{ receta.proteinas }}</p>
      <p>Grasas: {{ receta.grasas }}</p>
      <p>Carbohidratos: {{ receta.carbohidratos }}</p>
      <button (click) = "verReceta(receta.id)">Ver</button>

    </div>
  </div>

<div class="contenedorBotones">
  <button (click) = "restarPaginaRec()"><</button>
  <button (click) = "sumarPaginaRec()">></button>
</div>
</section>


</body>
</html>