body {
  font-family: Arial, sans-serif;

  margin: 0;
  margin-top: 8em;
  padding: 0;
  text-align: center;
}
#logo-container {
  display: block;          
  margin: 1rem auto;       
  max-height: 70px;        
  height: auto;
  width: auto;
  max-width: 100%;         
  object-fit: contain;     
}


@media (max-width: 600px) {
  #logo-container {
    max-height: 50px;      
    margin: 0.5rem auto;
  }
}


#logo-container {
  display: block;          
  margin: 1rem auto;       
  max-height: 70px;        
  height: auto;
  width: auto;
  max-width: 100%;         
  object-fit: contain;     
}


@media (max-width: 600px) {
  #logo-container {
    max-height: 50px;      
    margin: 0.5rem auto;
  }
}

.top-bar {
position:fixed;
  z-index: 1000;  
  width: 96%;
  top:0;
  background-color: #fff;
  padding: 0.8em 1em;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 1em;

  margin-bottom: 3em;
}

.top-bar::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%); 
  width: 96%;
  height: 3px; 

  background-color: #ddc700; 
  border-radius: 2px;
}


.icon {
  width: 20px;
  height: 20px;
  margin-left: 15px;
  cursor: pointer;
}

main {
  padding: 40px 20px;
}

h1 {
  text-align: center;
  margin-bottom: 2em;
  font-size: 28px;
}

form {
  max-width: 400px;
  margin: 0 auto;
  text-align: left;
}

label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
}

input[type="text"],
input[type="password"] {
  width: 100%;
  padding: 10px;
  border: 2px solid black;
  border-radius: 5px;
  margin-bottom: 20px;
  background-color: #f1f1f1;
}

.remember {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.remember input {
  margin-right: 8px;
}

button {
  padding: 10px 20px;
  border-style: solid;

  color: #c7a302; 
  font-weight: bolder;
  margin-right:1em;
  border-radius: 20px;
  
  border-color: #c7a302; ;
  cursor: pointer;
}

.mensaje {
  font-size: 20px;
  margin: 50px 0;
  font-weight: bold;
}

footer {
  background-color: #bfbfbf;
  padding: 15px 0;
  display: flex;
  justify-content: center;
  gap: 30px;
  border-top: 1px solid #999;
}

.footer-text {
  font-size: 14px;
}

.copyright {
  font-size: 12px;
  margin-top: 10px;
}
