:root {
  --marron-oscuro: #3e350e;
  --mostaza: #daad29;
  --blanco: #eae9e7;
  --marron: #794515;
  --verde-oliva: #79792e;
  --amarillo-claro: #f2dd6c;
}


.crear-libro-container {
  background-color: var(--blanco);
  color: var(--marron-oscuro);
  padding: 2rem;
  border-radius: 1.5rem;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  max-width: 500px;
  margin: 3rem auto;
  text-align: center;
}

.header h1 {
  color: var(--marron);
  margin-bottom: 0.5rem;
  font-size: 1.8rem;
}

.header p {
  color: var(--verde-oliva);
  font-size: 1rem;
  margin-bottom: 2rem;
}

.formulario {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  text-align: left;
}

label {
  font-weight: 600;
  color: var(--marron-oscuro);
}

input,
textarea {
  width: 100%;
  padding: 0.7rem 1rem;
  border-radius: 0.8rem;
  border: 1px solid var(--verde-oliva);
  background-color: #fffaf0;

  resize: none;
}

input:focus,
textarea:focus {
  outline: none;
  border-color: var(--mostaza);
  box-shadow: 0 0 5px var(--mostaza);
}

button {
  margin-top: 1.2rem;
  padding: 0.8rem 1.2rem;
  background-color: var(--mostaza);
  color: var(--blanco);
  font-weight: bold;
  border: none;
  border-radius: 1rem;
  cursor: pointer;
  transition: 0.3s;
}

button:hover {
  background-color: var(--marron);
  transform: scale(1.03);
}