:root {
  font-size: 16px; /* base para rem */
}

body {
  font-family: Arial, sans-serif;

  margin: 0;
  margin-top: 10em;
  padding: 0;
}



main {

  text-align: center;
}

h1 {
  text-align: center;
  margin-bottom: 1.7em;
  font-size: 1.75rem; /* 28px */
}

.login-form,
.perfil-form form {
  max-width: 25rem; /* 400px */
  margin: 0 auto;
  text-align: left;
  padding: 0 0.625rem; /* 10px */
}

label {
  display: block;
  margin-top: 0.9375rem; 
  font-weight: bold;
  font-size: 1rem;
}

input {
  width: 100%;
  padding: 0.625rem; 
  border: 0.125rem solid black; 
  border-radius: 0.3125rem;
  background-color: #f1f1f1;
  margin-top: 0.3125rem;
  font-size: 1rem;
}


#logo-container {
  display: block;          
  margin: 1rem auto;       
  max-height: 70px;        
  height: auto;
  width: auto;
  max-width: 100%;         
  object-fit: contain;     
}


@media (max-width: 600px) {
  #logo-container {
    max-height: 50px;      
    margin: 0.5rem auto;
  }
}

.top-bar {
position:fixed;
  z-index: 1000;  
  width: 96%;
  top:0;
  background-color: #fff;
  padding: 0.8em 1em;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 1em;

  margin-bottom: 3em;
}

.top-bar::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%); 
  width: 96%;
  height: 3px; 

  background-color: #ddc700; 
  border-radius: 2px;
}


@media (max-width: 600px) {
  #logo-container {
    max-height: 50px;      
    margin: 0.5rem auto;
  }
}
.remember {
  display: flex;
  align-items: center;
  margin: 0.9375rem 0;
}

.remember input {
  margin-right: 0.5rem;
}


button {
  padding: 10px 20px;
  border-style: solid;
  margin-top: 2em;
  color: #c7a302; 
  font-weight: bolder;
  margin-right:1em;
  border-radius: 20px;
  
  border-color: #c7a302; ;
  cursor: pointer;
}

.mensaje {
  font-size: 1.25rem; 
  margin: 3.125rem 0;
  font-weight: bold;
}

.perfil-form {

  margin-top: 3em;
  background-color: #bfbfbf;
  padding: 1.25rem;

}

footer {

  margin-top: 3em;
  background-color: #bfbfbf;
  padding: 0.9375rem 0; 
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 0.625rem;
  font-size: 0.875rem;
}

footer span {
  margin: 0 0.3125rem; 
}

.copyright {
  text-align: center;
  font-size: 0.75rem; 
  padding: 0.625rem;
}


@media (max-width: 31.25rem) { 
  h1 {
    text-align: center;
    font-size: 1.5rem;
  }

  .login-form,
  .perfil-form form {
    padding: 0 5%;
  }

  .mensaje {
    font-size: 1.125rem; 
    padding: 0 0.625rem;
  }

  footer {
    flex-direction: column;
    gap: 0.3125rem; 
    text-align: center;
  }
}