
  <header class="top-bar">

    <div class="home-icon" (click)="irAPaginaPrincipal()">
      <svg xmlns="http://www.w3.org/2000/svg"
        viewBox="0 0 24 24"
        fill="none"
        stroke="currentColor"
        stroke-width="2"
        stroke-linecap="round"
        stroke-linejoin="round"
        width="24"
        height="24">
        <path d="M3 9.5L12 3l9 6.5V21a1 1 0 0 1-1 1h-5v-6H9v6H4a1 1 0 0 1-1-1V9.5z"/>
      </svg>

    </div>
    <img id= "logo-container" (click)="irAPaginaPrincipal()" src="logoCookpi.png" alt="Logo">


    <nav class="categories">
    <div class="user-icon" (click)="irAPaginaUsuario()">

    <svg xmlns="http://www.w3.org/2000/svg" 
        viewBox="0 0 24 24" 
        fill="none" 
        stroke="currentColor" 
        stroke-width="2" 
        stroke-linecap="round" 
        stroke-linejoin="round">
      <path d="M20 21v-2a4 4 0 0 0-3-3.87"/>
      <path d="M4 21v-2a4 4 0 0 1 3-3.87"/>
      <path d="M16 7a4 4 0 1 1-8 0 4 4 0 0 1 8 0Z"/>
    </svg>
    </div>
  </nav>
</header>

<div class="receta-page">




  <div class="nombre-seccion">

    <p class="valor">{{ nombre }}</p>
  </div>

  <!-- Info extra -->
  <div class="info-extra">
     <!-- <p>Tiempo de producción: <span>{{ tiempoProduccion || '---' }}</span></p>
    <p>Momento del día:</p>
    <p class="texto">{{ momentoDelDia }}</p>-->
    
  </div>


  <div class="ingredientes">
    <div class="ingredientes-header">
      <div class="ovales">
        <span *ngFor="let i of [1,2,3,4,5,6,7,8,9]" class="oval"></span>
      </div>
      <h3>INGREDIENTES</h3>
    </div>

    <ul class="lista-ingredientes">
      <li *ngFor="let ing of ingredientes">
        {{ ing.cantidad }} g de {{ ing.nombre }}
      </li>
    </ul>
  </div> 


    <div class="ingredientes">
    <div class="ingredientes-header">
      <div class="ovales">
        <span *ngFor="let i of [1,2,3,4,5,6,7,8,9]" class="oval"></span>
      </div>
      <h3>INFORMACIÓN NUTRICIONAL</h3>
    </div>

    <ul class="lista-ingredientes">
      <li>{{ calorias }} calorías</li>
      <li>{{ carbohidratos }} g de carbohidratos</li>
      <li>{{ proteinas }} g de proteínas</li>
      <li>{{ grasas }} g de grasas</li>
    </ul>
  </div> 




  <h3 class="subtitulo">Descripción:</h3>
  <p class="texto">{{ descripcion }}</p>
  
  <div class="likes-row">

  <div class="likes-info">
    <span class="likes-count">{{ likes }}</span>
  <svg  *ngIf="yaLikeada"
      xmlns="http://www.w3.org/2000/svg" 
      width="32" height="32" viewBox="0 0 24 24" 
      fill="currentColor" class="icon-thumb">
    <path d="M2 10a1 1 0 0 1 1-1h3v10H3a1 1 0 0 1-1-1V10Zm7-2.24 3.12-4.73A1 1 0 0 1 13 3a1 1 0 0 1 .9.55l1.42 2.83H20a2 2 0 0 1 1.95 2.43l-2 8A2 2 0 0 1 18 18H9V7.76Z"/>
  </svg>


  <svg (click)="like()" *ngIf="!yaLikeada"
      xmlns="http://www.w3.org/2000/svg" 
      width="32" height="32" viewBox="0 0 24 24" 
      fill="none" stroke="currentColor" stroke-width="2" 
      stroke-linecap="round" stroke-linejoin="round" 
      class="icon-thumb">
    <path d="M7 10v12" />
    <path d="M15 5.88 13.17 10H21a1 1 0 0 1 .96 1.27l-2 7A2 2 0 0 1 18 20h-7a2 2 0 0 1-2-2v-8l3.34-5.57A1 1 0 0 1 14.17 4a1 1 0 0 1 .83 1.88Z" />
  </svg>

  </div>
</div>

  
  <h3 class="subtitulo">Procedimiento:</h3>
  <p class="texto">{{ procedimiento }}</p>

  
  <div class="acciones">
    <select [(ngModel)]="libroSeleccionado" class="selector-libro">
      <option value="">Seleccionar libro...</option>
      <option *ngFor="let item of libros" [value]="item.id">
        {{ item.nombre }}
      </option>
    </select>

    <button class="btn-agregar" (click)="agregarALibro()">
       Agregar a libro
    </button>

    <button class="btn-agregar" (click)="agregarConsumo()">
       Agregar consumo
    </button>

  </div>

  <footer class="footer">
    <a href="#">Volver atrás</a> |
    <a href="#">Términos y Condiciones</a> |
    <a href="#">Contacto</a>
  </footer>
</div>

